In [2]:
import os
#os.chdir("..")  # Change to the parent directory
os.getcwd()

'/home/fotis/pylab/repos/thess_airbnb/thess_airbnb/notebooks'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow as pa

In [2]:
ls = pd.read_parquet("../data/processed/listings_cleaned.parquet", engine="pyarrow")

In [13]:
pd.set_option('display.float_format', '{:,.2f}'.format)
ls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4932 entries, 0 to 4931
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           4932 non-null   int64
 1   name                         4932 non-null   object
 2   host_id                      4932 non-null   int64
 3   host_since                   4682 non-null   datetime64[ns]
 4   host_location                3267 non-null   object
 5   host_acceptance_rate         4378 non-null   float64
 6   host_is_superhost            4560 non-null   object
 7   host_total_listings_count    4682 non-null   Int16
 8   host_identity_verified       4682 non-null   object
 9   neighbourhood                1821 non-null   category
 10  neighbourhood_cleansed       4932 non-null   category
 11  latitude                     4932 non-null   float64
 12  longitude                    4932 non-null   float64
 13  property_type                4932 non-null   category
 14  room_type                    4932 non-null   category
 15  accommodates                 4932 non-null   Int16
 16  bathrooms                    4608 non-null   float64
 17  bedrooms                     4902 non-null   Int16
 18  beds                         4603 non-null   Int16
 19  price                        4607 non-null   float64
 20  minimum_nights               4932 non-null   Int16
 21  maximum_nights               4932 non-null   Int16
 22  has_availability             4885 non-null   object
 23  availability_30              4932 non-null   int64
 24  availability_60              4932 non-null   int64
 25  availability_90              4932 non-null   int64
 26  availability_365             4932 non-null   int64
 27  number_of_reviews            4932 non-null   int64
 28  availability_eoy             4932 non-null   int64
 29  number_of_reviews_ly         4932 non-null   int64
 30  estimated_occupancy_l365d    4932 non-null   int64
 31  estimated_revenue_l365d      4607 non-null   float64
 32  review_scores_rating         4294 non-null   float64
 33  review_scores_accuracy       4294 non-null   float64
 34  review_scores_cleanliness    4294 non-null   float64
 35  review_scores_checkin        4294 non-null   float64
 36  review_scores_communication  4294 non-null   float64
 37  review_scores_location       4294 non-null   float64
 38  review_scores_value          4294 non-null   float64
 39  license                      4901 non-null   object
 40  instant_bookable             4932 non-null   bool
 41  reviews_per_month            4294 non-null   float64
dtypes: Int16(6), bool(1), category(4), datetime64[ns](1), float64(14), int64(10), object(6)
memory usage: 1.3+ MB

In [26]:
ls.head(2).T

,0,1
id,218831,376955
last_scraped,2025-06-24 00:00:00,2025-06-24 00:00:00
name,Sea-life apartment,3 bedroom 145m2 apartment close to the seaside
host_id,137588,1894819
host_since,2010-06-03 00:00:00,2012-03-10 00:00:00
host_location,"Thessalonika, Greece","Thessalonika, Greece"
host_acceptance_rate,0.0,NaN
host_is_superhost,False,False
host_total_listings_count,2,2
host_identity_verified,False,True
neighbourhood,"Kalamaria Municipality, Greece",NaN
neighbourhood_cleansed,Kalamaria,Thessaloniki
latitude,40.57274,40.59683
longitude,22.95667,22.95394
property_type,Entire rental unit,Entire rental unit
room_type,Entire home/apt,Entire home/apt
accommodates,4,4
bathrooms,NaN,2.0
bedrooms,3,3
beds,<NA>,3
price,NaN,50.0
minimum_nights,4,28
maximum_nights,90,1125
has_availability,NaN,True
availability_30,0,28
availability_60,0,58
availability_90,0,88
availability_365,0,363
number_of_reviews,1,19
availability_eoy,0,189
number_of_reviews_ly,0,0
estimated_occupancy_l365d,0,0
estimated_revenue_l365d,NaN,0.0
review_scores_rating,4.0,4.94
review_scores_accuracy,5.0,4.79
review_scores_cleanliness,4.0,4.89
review_scores_checkin,5.0,5.0
review_scores_communication,5.0,4.78
review_scores_location,5.0,4.68
review_scores_value,5.0,4.61
license,00000049330,NaN
instant_bookable,False,False
reviews_per_month,0.02,0.12

### percentage of livenced listings

In [18]:
na_mask = ls["license"].isna()
dupli_mask = ls["license"].value_counts().head(20) > 1
exempt_mask = ls["license"] == "Exempt"

na_df = ls[na_mask]
dupli_df = ls[ls["license"].isin(dupli_mask.index)]
exempt_df = ls[exempt_mask]

#na_df.to_parquet("../data/processed/listings_na_license.parquet", engine="pyarrow", index=False)
#dupli_df.to_parquet("../data/processed/listings_dupli_license.parquet", engine="pyarrow", index=False)
#exempt_df.to_parquet("../data/processed/listings_exempt_license.parquet", engine="pyarrow", index=False)

In [10]:
dupli_df["host_id"].nunique()

35

In [27]:
ls["last_scraped"].describe()

count                             4932
mean     2025-06-24 04:32:24.525547520
min                2025-06-24 00:00:00
25%                2025-06-24 00:00:00
50%                2025-06-24 00:00:00
75%                2025-06-24 00:00:00
max                2025-06-27 00:00:00
Name: last_scraped, dtype: object

<hr>

### Check exempt

In [8]:
exempt_df.head(3).T

,14,883,1462
id,1397321,38672330,546031332520686103
host_id,1193625,6836073,433471717
host_since,NaN,2013-06-10,2021-11-25
host_location,NaN,"Novi Sad, Serbia","Belgrade, Serbia"
host_acceptance_rate,NaN,0.51,0.34
host_is_superhost,True,False,False
host_total_listings_count,NaN,41.0,56.0
host_identity_verified,NaN,True,True
neighbourhood,"Thessaloniki, Makedonia Thraki, Greece","Thessaloniki, Greece",NaN
neighbourhood_cleansed,Thessaloniki,Thessaloniki,Thessaloniki
latitude,40.6396,40.61513,40.61467
longitude,22.95499,22.95448,22.95424
property_type,Entire serviced apartment,Camper/RV,Entire condo
room_type,Entire home/apt,Entire home/apt,Entire home/apt
accommodates,2,1,2
bathrooms,1.0,2.0,2.0
bedrooms,0.0,2.0,4.0
beds,3.0,6.0,1.0
price,54.0,37.0,47.0
minimum_nights,7,1,1
maximum_nights,1125,1,1
has_availability,True,True,True
availability_30,0,0,25
availability_60,0,0,54
availability_90,0,21,79
availability_365,173,296,354
number_of_reviews,1,7,3
availability_eoy,0,122,180
number_of_reviews_ly,0,0,1
estimated_occupancy_l365d,0,0,6
estimated_revenue_l365d,0.0,0.0,282.0
review_scores_rating,5.0,4.71,4.67
review_scores_accuracy,5.0,4.71,5.0
review_scores_cleanliness,5.0,4.29,4.33
review_scores_checkin,5.0,4.86,5.0
review_scores_communication,5.0,4.86,5.0
review_scores_location,4.0,5.0,5.0
review_scores_value,5.0,4.43,5.0
license,Exempt,Exempt,Exempt
instant_bookable,True,False,False
reviews_per_month,0.01,0.11,0.08

In [19]:
cols_todrop = ["id", "host_id", "host_since", "longitude", "latitude"]
exempt_df.drop(columns=cols_todrop).describe().T

,count,mean,std,min,25%,50%,75%,max
host_acceptance_rate,39.00,0.65,0.36,0.00,0.34,0.82,1.00,1.00
host_total_listings_count,41.00,20.98,23.73,1.00,2.00,10.00,56.00,56.00
accommodates,42.00,4.02,2.90,1.00,2.00,3.00,5.00,13.00
bathrooms,40.00,1.14,0.34,1.00,1.00,1.00,1.00,2.00
bedrooms,42.00,1.55,0.92,0.00,1.00,1.00,2.00,4.00
beds,40.00,2.60,2.28,1.00,1.00,2.00,3.00,10.00
price,40.00,60.12,43.83,22.00,40.50,47.00,62.25,265.00
minimum_nights,42.00,2.64,2.20,1.00,1.00,2.00,3.00,8.00
maximum_nights,42.00,320.21,311.13,1.00,7.00,365.00,365.00,"1,125.00"
availability_30,42.00,17.14,10.09,0.00,11.50,19.00,25.00,30.00
availability_60,42.00,37.29,20.80,0.00,26.00,47.00,53.00,60.00
availability_90,42.00,60.38,30.51,0.00,46.75,76.00,79.00,90.00
availability_365,42.00,280.33,99.44,54.00,252.00,328.00,353.00,365.00
number_of_reviews,42.00,3.86,7.64,0.00,0.00,1.00,3.75,38.00
availability_eoy,42.00,140.86,57.85,0.00,100.25,176.00,179.00,190.00
number_of_reviews_ly,42.00,1.71,3.59,0.00,0.00,0.00,2.00,16.00
estimated_occupancy_l365d,42.00,13.71,29.70,0.00,0.00,0.00,12.00,156.00
estimated_revenue_l365d,40.00,537.90,"1,066.75",0.00,0.00,0.00,693.00,"5,460.00"
review_scores_rating,24.00,4.58,0.59,2.50,4.44,4.79,5.00,5.00
review_scores_accuracy,24.00,4.69,0.57,3.00,4.69,4.95,5.00,5.00
review_scores_cleanliness,24.00,4.54,0.52,3.50,4.23,4.69,5.00,5.00
review_scores_checkin,24.00,4.73,0.56,3.00,4.74,5.00,5.00,5.00
review_scores_communication,24.00,4.70,0.46,3.00,4.56,4.87,5.00,5.00
review_scores_location,24.00,4.58,0.47,3.00,4.48,4.63,5.00,5.00
review_scores_value,24.00,4.56,0.57,3.00,4.36,4.83,5.00,5.00
reviews_per_month,24.00,0.58,0.55,0.01,0.12,0.42,1.00,2.21

In [10]:
# percentage of exempt listings
exempt_df.shape[0] / ls.shape[0] * 100

0.851581508515815

In [ ]:
exempt_df["number_of_reviews"].sort_values(ascending=False).head(5)

1967    38
3479    26
2399    21
3017    11
3594    10
Name: number_of_reviews, dtype: int64

In [25]:
exempt_df.loc[[1967, 3479, 2399, 3017, 3594], :].T

,1967,3479,2399,3017,3594
id,783090274620300671,1191193772456362986,931959667193659089,1097954503331571600,1216097156342792505
name,,San Marco di Petro Thessaloniki,Stylish Apartment in City Center,Premium Loft In City Center,Sunshine room studio
host_id,155399708,405376667,470648435,470648435,123750052
host_since,2017-10-20 00:00:00,2021-06-05 00:00:00,2022-07-20 00:00:00,2022-07-20 00:00:00,2017-04-01 00:00:00
host_location,"Thessaloniki, Greece",None,"London, United Kingdom","London, United Kingdom","Thessaloniki, Greece"
host_acceptance_rate,0.82,0.97,1.00,1.00,1.00
host_is_superhost,True,True,False,False,False
host_total_listings_count,4,1,10,10,5
host_identity_verified,True,True,True,True,True
neighbourhood,"Kalamaria Municipality, Greece","Thessaloniki, Greece",NaN,NaN,NaN
neighbourhood_cleansed,Kalamaria,Thessaloniki,Thessaloniki,Thessaloniki,Thessaloniki
latitude,40.57,40.64,40.64,40.64,40.61
longitude,22.96,22.94,22.94,22.94,22.97
property_type,Private room in rental unit,Entire condo,Entire condo,Entire rental unit,Private room in condo
room_type,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Private room
accommodates,1,4,3,3,2
bathrooms,2.00,1.00,1.00,1.00,1.00
bedrooms,1,1,1,1,1
beds,1,2,2,2,1
price,24.00,35.00,41.00,43.00,25.00
minimum_nights,2,2,1,2,2
maximum_nights,365,30,1125,365,365
has_availability,True,True,True,True,True
availability_30,20,25,13,8,24
availability_60,30,53,29,17,54
availability_90,54,79,46,32,84
availability_365,54,185,306,180,359
number_of_reviews,38,26,21,11,10
availability_eoy,54,154,147,110,185
number_of_reviews_ly,14,16,6,9,5
estimated_occupancy_l365d,90,156,48,18,60
estimated_revenue_l365d,"2,160.00","5,460.00","1,968.00",774.00,"1,500.00"
review_scores_rating,4.87,4.88,4.29,4.45,4.50
review_scores_accuracy,4.82,4.85,4.48,4.64,4.90
review_scores_cleanliness,4.87,4.96,4.05,4.00,4.50
review_scores_checkin,4.68,4.81,4.71,4.82,4.60
review_scores_communication,4.84,4.88,4.52,4.82,4.60
review_scores_location,4.71,4.42,4.71,4.36,4.80
review_scores_value,4.87,4.92,4.24,4.45,4.80
license,Exempt,Exempt,Exempt,Exempt,Exempt
instant_bookable,False,False,True,True,True
reviews_per_month,1.35,2.21,0.92,0.71,1.12

In [12]:
exempt_df["property_type"].value_counts()

property_type
Entire rental unit             20
Entire condo                   11
Private room in guest suite     4
Private room in rental unit     2
Private room in condo           2
Camper/RV                       1
Entire serviced apartment       1
Entire home                     1
Name: count, dtype: int64

In [13]:
exempt_df["host_id"].value_counts()

host_id
433471717    12
470648435     5
40847564      3
193648624     2
123750052     2
6836073       1
1193625       1
250646680     1
155399708     1
227230581     1
556603563     1
347464647     1
490635683     1
481210903     1
405376667     1
466453048     1
369235800     1
53043260      1
159760098     1
228225394     1
1462276       1
587261856     1
599332270     1
Name: count, dtype: int64

In [7]:
12/exempt_df.shape[0] * 100

28.57142857142857

In [17]:
exempt_df["availability_365"].min()

54

In [8]:
exempt_df.iloc[exempt_df["availability_365"].argmin()]

id                                            783090274620300671
name
host_id                                                155399708
host_since                                   2017-10-20 00:00:00
host_location                               Thessaloniki, Greece
host_acceptance_rate                                        0.82
host_is_superhost                                           True
host_total_listings_count                                      4
host_identity_verified                                      True
neighbourhood                     Kalamaria Municipality, Greece
neighbourhood_cleansed                                 Kalamaria
latitude                                               40.574583
longitude                                              22.959954
property_type                        Private room in rental unit
room_type                                           Private room
accommodates                                                   1
bathrooms                                                    2.0
bedrooms                                                       1
beds                                                           1
price                                                       24.0
minimum_nights                                                 2
maximum_nights                                               365
has_availability                                            True
availability_30                                               20
availability_60                                               30
availability_90                                               54
availability_365                                              54
number_of_reviews                                             38
availability_eoy                                              54
number_of_reviews_ly                                          14
estimated_occupancy_l365d                                     90
estimated_revenue_l365d                                   2160.0
review_scores_rating                                        4.87
review_scores_accuracy                                      4.82
review_scores_cleanliness                                   4.87
review_scores_checkin                                       4.68
review_scores_communication                                 4.84
review_scores_location                                      4.71
review_scores_value                                         4.87
license                                                   Exempt
instant_bookable                                           False
reviews_per_month                                           1.35
Name: 1967, dtype: object

Geographically -  no interesting patterns, no particular reasons for exemptions.  
Property types - A couple of listings might be eligible for exemption, but the majority are regular rental units.  
Year-round availability - Regular, no very short short day availability
host analysis - 5 host with more than 1 exemptions, especially one has ~30% of all exemptions.Most of them are not greek
property names - not suggestive of hotels or motels
a particular host has almost identical listigs only with small number  differences in the listing name

In [10]:
exempt_df["name"].loc[exempt_df['host_id']==433471717]

1462    Unique Waterfront Apartment with Sea View_TRM1102
1468    Unique Waterfront Apartment with Sea View_TRM1111
1471    Unique Waterfront Apartment with Sea View_TRM6711
1485                       Old Town Family Apartment_M112
1486                       Old Town Family Apartment_M678
1489                       Old Town Family Apartment_M8L8
1512                          Seafront Mini Studio_Moffer
1514                             Seafront Mini Studio_MT6
1515                             Seafront Mini Studio_MT7
1516                             Seafront Mini Studio_MT8
4660                       Old Town Family Apartment_M118
4661                       Old Town Family Apartment_M458
Name: name, dtype: object

In [11]:
ls["property_type"].unique()

array(['Entire rental unit', 'Entire condo', 'Entire serviced apartment',
       'Private room in condo', 'Entire loft',
       'Private room in rental unit', 'Entire home', 'Tiny home',
       'Entire place', 'Entire townhouse', 'Entire villa', 'Dome',
       'Camper/RV', 'Room in boutique hotel',
       'Private room in bed and breakfast', 'Private room in home',
       'Entire guest suite', 'Entire guesthouse', 'Room in aparthotel',
       'Boat', 'Private room in guest suite', 'Entire vacation home',
       'Shared room in condo', 'Room in hotel', 'Earthen home',
       'Private room in guesthouse', 'Private room in villa',
       'Private room in serviced apartment', 'Tent',
       'Shared room in hostel', 'Barn', 'Dammuso'], dtype=object)

<hr>

### NA licenses

In [26]:
na_df.shape

(31, 42)

In [27]:
na_df.drop(columns=cols_todrop).describe().T

,count,mean,std,min,25%,50%,75%,max
host_acceptance_rate,12.00,0.38,0.42,0.00,0.00,0.26,0.62,1.00
host_total_listings_count,30.00,1.67,1.24,1.00,1.00,1.00,2.00,6.00
accommodates,31.00,3.84,1.92,1.00,2.00,4.00,5.00,9.00
bathrooms,27.00,1.22,0.42,1.00,1.00,1.00,1.25,2.50
bedrooms,31.00,1.81,0.79,1.00,1.00,2.00,2.00,3.00
beds,27.00,2.48,1.34,1.00,1.00,3.00,3.00,5.00
price,27.00,107.63,106.94,15.00,43.50,72.00,122.00,457.00
minimum_nights,31.00,24.71,67.35,1.00,1.50,3.00,10.00,365.00
maximum_nights,31.00,691.58,465.83,14.00,317.50,"1,125.00","1,125.00","1,125.00"
availability_30,31.00,17.52,12.86,0.00,3.00,23.00,29.00,30.00
availability_60,31.00,38.32,25.38,0.00,6.00,53.00,59.00,60.00
availability_90,31.00,59.32,37.76,0.00,16.00,83.00,89.00,90.00
availability_365,31.00,233.71,127.99,0.00,149.50,266.00,363.00,365.00
number_of_reviews,31.00,15.00,26.09,0.00,0.00,2.00,17.50,113.00
availability_eoy,31.00,128.03,71.47,0.00,80.50,177.00,189.00,191.00
number_of_reviews_ly,31.00,0.77,4.31,0.00,0.00,0.00,0.00,24.00
estimated_occupancy_l365d,31.00,6.39,30.16,0.00,0.00,0.00,0.00,168.00
estimated_revenue_l365d,27.00,492.22,"2,323.76",0.00,0.00,0.00,0.00,"12,096.00"
review_scores_rating,19.00,4.65,0.38,3.88,4.42,4.80,4.95,5.00
review_scores_accuracy,19.00,4.80,0.32,3.75,4.73,4.93,5.00,5.00
review_scores_cleanliness,19.00,4.62,0.52,3.33,4.42,4.89,4.98,5.00
review_scores_checkin,19.00,4.85,0.29,3.75,4.85,4.95,5.00,5.00
review_scores_communication,19.00,4.83,0.30,3.75,4.79,4.95,5.00,5.00
review_scores_location,19.00,4.79,0.28,3.88,4.67,4.92,5.00,5.00
review_scores_value,19.00,4.63,0.33,4.00,4.50,4.67,4.87,5.00
reviews_per_month,19.00,0.40,0.49,0.01,0.06,0.19,0.56,2.00

In [31]:
# percentage of exempt listings
na_df.shape[0] / ls.shape[0] * 100

0.6285482562854825

In [34]:
na_df["number_of_reviews"].sort_values(ascending=False).head(10)

22     113
793     71
291     58
425     44
111     38
309     38
1       19
354     18
35      17
483     16
Name: number_of_reviews, dtype: int64

In [37]:
na_df["host_id"].value_counts().head()

host_id
153803203    2
1894819      1
21406334     1
10383013     1
32221596     1
Name: count, dtype: int64

In [39]:
na_df["property_type"].value_counts().head()

property_type
Entire rental unit             22
Entire condo                    3
Entire home                     3
Private room in condo           2
Private room in rental unit     1
Name: count, dtype: int64

- small acceptance rates  
- few total listings
- higher than average mean price
- very high max value for estimated revenue

In [ ]:
# max estimated revenue
na_df.loc[na_df["estimated_revenue_l365d"].idxmax()].T

id                                                     36552039
name                           Imperium I - White Tower #Skgbnb
host_id                                                28267881
host_since                                                  NaT
host_location                                              None
host_acceptance_rate                                        NaN
host_is_superhost                                          None
host_total_listings_count                                  <NA>
host_identity_verified                                     None
neighbourhood                              Thessaloniki, Greece
neighbourhood_cleansed                             Thessaloniki
latitude                                                  40.63
longitude                                                 22.95
property_type                                      Entire condo
room_type                                       Entire home/apt
accommodates                                                  2
bathrooms                                                  1.00
bedrooms                                                      1
beds                                                          1
price                                                     72.00
minimum_nights                                                2
maximum_nights                                               60
has_availability                                           True
availability_30                                               3
availability_60                                               6
availability_90                                              21
availability_365                                            291
number_of_reviews                                            71
availability_eoy                                            117
number_of_reviews_ly                                         24
estimated_occupancy_l365d                                   168
estimated_revenue_l365d                               12,096.00
review_scores_rating                                       4.96
review_scores_accuracy                                     4.99
review_scores_cleanliness                                  4.97
review_scores_checkin                                      4.90
review_scores_communication                                4.92
review_scores_location                                     4.92
review_scores_value                                        4.83
license                                                    None
instant_bookable                                           True
reviews_per_month                                          0.98
Name: 793, dtype: object

In [40]:
# max n reviews
na_df.loc[na_df["number_of_reviews"].idxmax()].T

id                                                            3276780
name                              Apartment in Ano Poli, Thessaloniki
host_id                                                      16565876
host_since                                        2014-06-09 00:00:00
host_location                                         Berlin, Germany
host_acceptance_rate                                             0.00
host_is_superhost                                               False
host_total_listings_count                                           2
host_identity_verified                                           True
neighbourhood                  Thessaloniki, Makedonia Thraki, Greece
neighbourhood_cleansed                                   Thessaloniki
latitude                                                        40.64
longitude                                                       22.95
property_type                                      Entire rental unit
room_type                                             Entire home/apt
accommodates                                                        2
bathrooms                                                        1.00
bedrooms                                                            1
beds                                                                1
price                                                           20.00
minimum_nights                                                      1
maximum_nights                                                   1125
has_availability                                                 True
availability_30                                                     0
availability_60                                                     0
availability_90                                                    11
availability_365                                                  247
number_of_reviews                                                 113
availability_eoy                                                   73
number_of_reviews_ly                                                0
estimated_occupancy_l365d                                           0
estimated_revenue_l365d                                          0.00
review_scores_rating                                             4.33
review_scores_accuracy                                           4.55
review_scores_cleanliness                                        4.12
review_scores_checkin                                            4.73
review_scores_communication                                      4.79
review_scores_location                                           4.73
review_scores_value                                              4.48
license                                                          None
instant_bookable                                                False
reviews_per_month                                                0.86
Name: 22, dtype: object

In [42]:
na_df["host_location"].value_counts().head(5)

host_location
Thessaloniki, Greece    17
Thessalonika, Greece     1
Berlin, Germany          1
Kalamaria, Greece        1
Moscow, Russia           1
Name: count, dtype: int64

<hr>

### Duplicate licenses

In [43]:
dupli_df.shape

(207, 42)

In [44]:
dupli_df.drop(columns=cols_todrop).describe().T

,count,mean,std,min,25%,50%,75%,max
host_acceptance_rate,191.00,0.68,0.35,0.00,0.34,0.80,1.00,1.00
host_total_listings_count,206.00,162.40,245.40,1.00,8.00,41.00,390.00,872.00
accommodates,207.00,3.61,2.54,1.00,2.00,3.00,4.00,16.00
bathrooms,180.00,1.22,0.41,1.00,1.00,1.00,1.00,2.00
bedrooms,204.00,1.38,0.79,0.00,1.00,1.00,2.00,4.00
beds,178.00,2.84,2.83,1.00,1.00,2.00,3.00,11.00
price,180.00,76.66,63.65,22.00,45.00,51.00,75.25,403.00
minimum_nights,207.00,1.94,1.86,1.00,1.00,1.00,2.00,15.00
maximum_nights,207.00,383.53,344.47,1.00,90.00,365.00,365.00,"1,125.00"
availability_30,207.00,15.68,10.58,0.00,4.00,18.00,25.00,30.00
availability_60,207.00,35.86,22.35,0.00,13.00,46.00,53.50,60.00
availability_90,207.00,57.54,32.29,0.00,31.50,73.00,80.00,90.00
availability_365,207.00,250.99,112.17,0.00,197.50,266.00,351.00,365.00
number_of_reviews,207.00,11.99,24.27,0.00,0.00,2.00,7.50,141.00
availability_eoy,207.00,137.32,64.54,0.00,119.50,171.00,180.00,191.00
number_of_reviews_ly,207.00,5.11,13.11,0.00,0.00,0.00,2.00,79.00
estimated_occupancy_l365d,207.00,29.02,66.80,0.00,0.00,0.00,18.00,255.00
estimated_revenue_l365d,180.00,"1,630.34","3,414.43",0.00,0.00,0.00,"1,246.50","17,340.00"
review_scores_rating,133.00,4.58,0.56,2.00,4.50,4.71,5.00,5.00
review_scores_accuracy,133.00,4.62,0.57,2.00,4.56,4.81,5.00,5.00
review_scores_cleanliness,133.00,4.56,0.62,2.00,4.33,4.75,5.00,5.00
review_scores_checkin,133.00,4.78,0.40,3.00,4.75,4.93,5.00,5.00
review_scores_communication,133.00,4.72,0.43,2.00,4.64,4.85,5.00,5.00
review_scores_location,133.00,4.66,0.46,3.00,4.50,4.85,5.00,5.00
review_scores_value,133.00,4.52,0.64,1.00,4.43,4.67,5.00,5.00
reviews_per_month,133.00,0.84,1.18,0.01,0.13,0.34,1.02,6.19

In [46]:
# percentage of exempt listings
dupli_df.shape[0] / ls.shape[0] * 100

4.197080291970803

In [47]:
dupli_df["number_of_reviews"].sort_values(ascending=False).head(10)

1286    141
2605    130
2603    112
206      92
2588     92
2592     83
1259     79
2604     77
2888     75
2594     73
Name: number_of_reviews, dtype: int64

In [49]:
dupli_df["host_id"].value_counts().head(10)

host_id
239769711    46
260979712    18
433471717    18
461193921    14
6836073      12
111705455    10
204997816     7
119927623     6
129257949     6
281350563     6
Name: count, dtype: int64

In [51]:
dupli_df["property_type"].value_counts().head(10)

property_type
Entire rental unit                   96
Entire condo                         33
Entire home                          16
Entire serviced apartment            16
Camper/RV                            13
Private room in bed and breakfast     8
Private room in guest suite           6
Boat                                  5
Room in aparthotel                    5
Private room in condo                 2
Name: count, dtype: int64

In [53]:
dupli_df["host_location"].value_counts().head(10)

host_location
Thessaloniki, Greece       111
Belgrade, Serbia            18
Heraklion, Greece           14
Novi Sad, Serbia            12
London, United Kingdom       6
Athens, Greece               1
d, Poland                 1
Skopje, North Macedonia      1
Name: count, dtype: int64

- very high host total listings ()
- high estimaded revenue
- check 17 all of his listings have the same name

<hr>

In [13]:
ls.columns

Index(['id', 'host_since', 'host_location', 'host_acceptance_rate',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'price', 'minimum_nights',
       'maximum_nights', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'availability_eoy', 'number_of_reviews_ly',
       'estimated_occupancy_l365d', 'estimated_revenue_l365d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')

In [21]:
ls.loc[(ls["host_id"]==433471717) & (ls["license"] == "00002978637")].iloc[:, 8:15]

,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates
1470,NaN,Thessaloniki,40.613040,22.954800,Entire condo,Entire home/apt,11
1473,NaN,Thessaloniki,40.613350,22.954890,Entire condo,Entire home/apt,11
1479,NaN,Thessaloniki,40.613840,22.954780,Entire condo,Entire home/apt,11
1509,NaN,Thessaloniki,40.613140,22.952790,Private room in guest suite,Private room,2
1513,NaN,Thessaloniki,40.613960,22.955090,Private room in guest suite,Private room,2
4662,NaN,Thessaloniki,40.634185,22.953124,Entire rental unit,Entire home/apt,8

In [23]:
ls["host_id"].nunique()

2090

In [57]:
ls.loc[ls["host_id"]==239769711].head(1).T

                                                                   989
id                                                            41918402
name                         Octagon Apartment, Nilie Hospitality MGMT
host_id                                                      239769711
host_since                                         2019-01-29 00:00:00
host_location                                     Thessaloniki, Greece
host_acceptance_rate                                              1.00
host_is_superhost                                                False
host_total_listings_count                                          390
host_identity_verified                                            True
neighbourhood                                     Thessaloniki, Greece
neighbourhood_cleansed                                    Thessaloniki
latitude                                                         40.63
longitude                                                        22.95
property_type                                       Entire rental unit
room_type                                              Entire home/apt
accommodates                                                         4
bathrooms                                                          NaN
bedrooms                                                             1
beds                                                              <NA>
price                                                              NaN
minimum_nights                                                       1
maximum_nights                                                    1125
has_availability                                                  True
availability_30                                                     15
availability_60                                                     40
availability_90                                                     63
availability_365                                                   338
number_of_reviews                                                   11
availability_eoy                                                   164
number_of_reviews_ly                                                 1
estimated_occupancy_l365d                                            0
estimated_revenue_l365d                                            NaN
review_scores_rating                                              4.18
review_scores_accuracy                                            4.45
review_scores_cleanliness                                         4.27
review_scores_checkin                                             4.27
review_scores_communication                                       4.55
review_scores_location                                            4.82
review_scores_value                                               4.45
license                                                        1403896
instant_bookable                                                  True
reviews_per_month                                                 0.19

In [24]:
ls.loc[ls["license"].isna(), "host_id"].nunique()

35

In [25]:
ls["license"].isna().sum()

np.int64(36)

In [27]:
ls.loc[ls["license"]=="Exempt", "host_id"].nunique()

17

In [30]:
ls.loc[ls["license"]=="Exempt"].shape

(53, 41)

In [56]:
ls_v.loc[ls_v["license"]=="1037314"]

,id,host_id,host_since,host_location,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,license
199,18154229,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.644380,22.939020,Entire rental unit,Entire home/apt,1037314
200,18155324,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.644050,22.937580,Entire rental unit,Entire home/apt,1037314
204,18258487,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.643340,22.937810,Entire rental unit,Entire home/apt,1037314
206,18304029,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.644100,22.937080,Entire rental unit,Entire home/apt,1037314
207,18342117,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.639740,22.944220,Entire rental unit,Entire home/apt,1037314
208,18354335,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.645370,22.937901,Entire rental unit,Entire home/apt,1037314
211,18369648,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.644730,22.937000,Entire serviced apartment,Entire home/apt,1037314
212,18370035,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.646500,22.936830,Entire rental unit,Entire home/apt,1037314
250,19835357,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.644863,22.937481,Entire rental unit,Entire home/apt,1037314
397,24052816,111705455,2017-01-16,"Thessaloniki, Greece",False,13.0,True,Thessaloniki,40.645370,22.937901,Entire serviced apartment,Entire home/apt,1037314

In [54]:
ls_v.loc[ls_v["host_id"]==260979712].to_csv("multi_license_user.csv", index=False)