## Get to know calendar data

In [2]:
import pandas as pd

cal = pd.read_csv("../data/raw/calendar.csv.gz")

In [3]:
import os

os.chdir("..")
#os.getcwd()

In [3]:
pd.set_option('display.float_format', '{:,.2f}'.format)

### Data cleaning and exploration

In [6]:
cal.shape

(1800180, 7)

In [4]:
cal.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800180 entries, 0 to 1800179
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 283.3 MB

In [8]:
cal.describe(include='all')

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
count,"1,800,180.00",1800180,1800180,0.00,0.00,"1,800,180.00","1,800,180.00"
unique,NaN,368,2,NaN,NaN,NaN,NaN
top,NaN,2026-06-10,t,NaN,NaN,NaN,NaN
freq,NaN,4932,1168800,NaN,NaN,NaN,NaN
mean,"769,672,682,988,058,112.00",NaN,NaN,NaN,NaN,3.08,621.14
std,"539,183,685,640,349,312.00",NaN,NaN,NaN,NaN,19.56,449.22
min,"218,831.00",NaN,NaN,NaN,NaN,1.00,1.00
25%,"49,988,311.50",NaN,NaN,NaN,NaN,1.00,365.00
50%,"952,342,422,978,813,440.00",NaN,NaN,NaN,NaN,2.00,365.00
75%,"1,240,693,363,845,536,768.00",NaN,NaN,NaN,NaN,2.00,"1,125.00"
max,"1,448,575,891,892,385,536.00",NaN,NaN,NaN,NaN,900.00,"1,125.00"

In [14]:
cal.sample(4)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
763586,1209165629005670070,2025-06-30,True,NaN,NaN,1,365
354419,43618212,2025-06-28,True,NaN,NaN,4,1125
743171,1199087273248705881,2025-07-26,False,NaN,NaN,2,1125
1376253,709935180454950366,2026-01-13,True,NaN,NaN,2,1125

In [5]:
cal["available"] = cal["available"].map({'t': True, 'f': False})

type_dict = {
    "listing_id" : "object",
    "date" : "datetime64[ns]",
    "price" : "float32",
    "minimum_nights" : "Int16",
    "maximum_nights" : "Int16",

}

cal = cal.astype(type_dict)

In [6]:
cal.drop(["price" ,"adjusted_price"], axis=1, inplace=True)
cal.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800180 entries, 0 to 1800179
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      object
 1   date            datetime64[ns]
 2   available       bool
 3   minimum_nights  Int16
 4   maximum_nights  Int16
dtypes: Int16(2), bool(1), datetime64[ns](1), object(1)
memory usage: 94.7 MB

In [16]:
cal.iloc[[688354, 1055790], :]

,listing_id,date,available,minimum_nights,maximum_nights
688354,1168139864871744443,2026-05-19,False,2,365
1055790,1347043822693922632,2026-01-20,False,2,60

**Report**: changed data types, dropped empty "adjusted_price" and "price" column

<hr>

In [7]:
cal.to_parquet("../data/processed/calendar_cleaned.parquet", engine="pyarrow", index=False)